* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo {
    text-align: center;
}

.logo img {
    width: 15%;
}

.logo a {
    text-decoration: none;
    color: green;
}

.header {
    text-align: center;
    margin-top: 32px;
}
.header a {
    text-decoration: none;
    color: blue;
}

.header h3 {
    font-weight: lighter;
}

.header sub  {
    font-weight: lighter;
}

.header span {
    background-color: yellowgreen;
}

.one {
    color: rgb(104, 104, 192);
    margin-left: 50px;
}

.one h1 {
    font-size: 32px;
    text-align: center;
}

.one .img {
    text-align: center;
}

.one img {
    width: 30%;
}

.one .form {
    color: black;
}

.plan .text {
    text-align: center;
}
.plan h1 {
    color: blue;
}
.plan h2 {
    text-align: center;
}

.plan p {
    margin-left: 50px;
}
.plan sub  {
    font-weight: lighter;
    background-color: yellow;
}

.bran {
    text-align: center;
}

.bran h1 {
    color: red;
    margin-top: 60px;
}

.brand h4 {
    color: red;
}

.brand li {
    color:blue;
}

.brand h2 {
    text-align: center;
}
.brand .text {
    margin-left: 50px;
}
.brand sub {
    font-weight: lighter;
    background-color: yellow;
}

.pitch {
    margin-top: 50px;
}

.pitch .text {
    margin-left: 50px;
}

.pitch .text h3 {
    color: red;
}
.pitch h2 {
    text-align: center;
}

.pitch sub {
    font-weight: lighter;
    background-color: yellow;
}

.sustain {
    margin-top: 50px;
}

.sustain .text {
    margin-left: 50px;
}

.sustain h2 {
    text-align: center;
}
.sustain sub {
    font-weight: lighter;
    background-color: yellow;
}

.bsc {
    margin-top: 50px;
}

.bsc .text {
    margin-left: 50px;
}

.bsc h2 {
    text-align: center;
}

.bsc sub {
    font-weight: lighter;
    background-color: yellow;
}

.africa {
    margin-left: 50px;
}

.africa .text {
    margin-left: 50px;
}

.africa h5 {
    text-align: center;
}

.africa .text li {
    list-style-type:square;
}